<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.AppArt.thaliapp">

    <uses-sdk/>

    <uses-permission android:name="android.permission.INTERNET" />
    <!--
     To open a download stream to thalia.nu to get the iCalendar
    -->

    <!--
     To retrieve OAuth 2.0 tokens or invalidate tokens to disconnect a user. This disconnect
     option is required to comply with the Google+ Sign-In developer policies
    -->
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <!-- To retrieve the account name (email) as part of sign-in: -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.READ_PROFILE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Calendar -->
        <activity
            android:name=".Calendar.Activities.Calendar"
            android:label="@string/app_name">
            <intent-filter
                android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.example.AppArt.thaliapp.Calendar.Activities.Information"
            android:label="@string/information" >
        </activity>

        <!-- FoodList -->
        <activity
            android:name="com.example.AppArt.thaliapp.FoodList.Activities.FoodList"
            android:label="@string/foodlist" >
        </activity>
        <activity
            android:name="com.example.AppArt.thaliapp.FoodList.Activities.Receipt"
            android:label="@string/receipt" >
        </activity>
        <activity
            android:name="com.example.AppArt.thaliapp.FoodList.Activities.Restaurant"
            android:label="@string/restaurant">
            </activity>

        <!-- Settings -->
        <activity
            android:name="com.example.AppArt.thaliapp.Settings.Activities.Login"
            android:label="@string/login" >
        </activity>
        <activity
            android:name="com.example.AppArt.thaliapp.Settings.Activities.Notifications"
            android:label="@string/notifications" >
        </activity>
        <activity
            android:name="com.example.AppArt.thaliapp.Settings.Activities.Overview"
            android:label="@string/overview" >
        </activity>

        <receiver android:name="com.example.AppArt.thaliapp.Settings.Backend.AlarmReceiver"/>
    </application>

</manifest>
